.menu-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 70vw;
    height: 100vh;
    background-color: #FFFFFF;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    display: flex;
    justify-content: center;
}

.menu-button.open {
    transform: translateX(0);
}

.menu-button-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1rem;
    margin-top: 2rem;
}

.menu-button-type {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.menu-button-type:hover ,.menu-button-type:hover .menu-button-type-icon{
    cursor: pointer;
    color: #C61421;
}

.menu-button-type-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.menu-button-type-image  img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.menu-button-type-text {
    font-weight: 600;
    font-size: large;
    padding-left: 0.5rem;
}

.menu-button-type-icon {
    margin-left: auto;
    color: gray;
}