.brand-logo {
    font-family: "Bona Nova SC", serif;
    width: 100%;
    margin: 0;
    padding-top: auto;
    padding-bottom: auto;
    font-size: 4rem;
    /* color: rgb(215, 38, 38); */
    /* text-align: center; */
}

/* @media only screen and (max-width : 800px){
    .brand-logo {
        font-size: 2rem;
    }
} */