.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart-heading {
    font-weight: 700;
}
.cart-text {
    width: 50%;
}
.cart-button {
    color: antiquewhite;
    background-color: black;
    padding: 0.5rem 2rem;
    cursor: pointer;
}
.cart-button:hover {
    opacity: 0.8;
}
.cart-shopping-cart-icon {
    margin-top: 1rem;
}