*{
    box-sizing: border-box;
}
.header {
    width: 97%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    font-size: 90;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;

}


.header-service {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    white-space: nowrap;
    overflow: auto;
}

.header-service > p {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
}

.header-service > p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.header-logo {
    text-align: center;
}

.header-shop {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.header-shop-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.header-shop-text:hover{
    text-decoration: underline;
    cursor: pointer;
}

.header-menu-button {
    display: none;
}


.header-service-svg{
    background-color: rgb(102, 255, 0);
}

.menu-option {
    position: absolute;
    top: 8%;
    margin-right: 1000px;
    z-index: 1000;
    background-color: #8d0d0d;
  }

@media only screen and (max-width: 900px){
    .header-service{
        display: none;
    }
    .header-menu-button {
        display: flex;
        align-items: center;
    }
    .header-shop-text {
        display: none;
    }
    .header-scrollable-navbar {
        display: none;
    }
    .header-logo {
        margin-right: auto;
    }
    .header-shop {
        gap: 1rem;
    }

}
